*.sw?
*.sauve
*.baq
trav.*
*.pyc
*.tdy
giclee-printemps
cartes
gicl++
autodia.out.dia
ete
*sem*.mm
clean.sh
2016
DavP.py
complementsMureaux
try.sh
jourSem
semCour
jourSem.py
params.py
semCour.py
hiver
mmNextWeek
printemps
printemps17
Therese17.sh
essai
nodes.py
.gitignore
cartes
essai
mmNextWeek
printemps17
pyNewMap
recurre
semCour
cartes
cartes-aut17
essai
mmNextWeek
printemps17
pyNewMap
recurre
semCour
tropTard
giclee
bugGicl
cartes
cartes-aut17
cartes-ete18
cartes-printemps18
essai
essais-XNextWeek
giclee-dev
.git
lundiProchain
lundis
mmNextWeek
okazou
printemps17
prudence
py3k
pyNewMap
rebelotte
recurre
rollback
ruseTropTard
semCour
tropTard
XNextWeek
back2lastweek
bugGicl
cartes
cartes-aut17
cartes-ete18
cartes-printemps18
essai
.git
.git.dimancheMatin
lundiProchain
lundis
mmNextWeek
okazou
ouAijeMerde
printemps17
prudence
py3k
pyNewMap
recurre
rollback
ruseTropTard
semCour
tropTard
XNextWeek
aBovo
back2lastweek
bugGicl
cartes
cartes-aut17
cartes-ete18
cartes-printemps18
essai
.git
.git.04012
.git.dimancheMatin
lundiProchain
lundis
mmNextWeek
okazou
ouAijeMerde
printemps17
prudence
py3k
pyNewMap
recurre
rollback
ruseTropTard
semCour
XNextWeek
[^g]*.mm
